In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('C:\Repositorio\Python-Bootcamp\section-071\salaries_by_college_major.csv')

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.isna()

In [ ]:
df.tail()

In [ ]:
clean_df = df.dropna()
clean_df.tail()

In [22]:
clean_df['Starting Median Salary'].max()

74300.0

In [30]:
highest_starting_salary = clean_df['Starting Median Salary'].idxmax()

In [32]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [33]:
clean_df['Undergraduate Major'].loc[highest_starting_salary]

'Physician Assistant'

In [39]:
highest_midcareer_salary = clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[highest_midcareer_salary]

'Chemical Engineering'

In [46]:
lowest_starting_salary = clean_df['Starting Median Salary'].idxmin()
clean_df['Undergraduate Major'].loc[lowest_starting_salary]

'Spanish'

In [48]:
clean_df['Starting Median Salary'].min()

34000.0

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

In [ ]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary', 'Spread']].head()

In [61]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby('Group').mean()